In [22]:
import mmap
import pandas as pd
import re

In [36]:
def file_to_frame(input_filename):
    rex_header = re.compile(r'#\s+(TIME.*)')

    # Find the column names for the dataframe
    columns = None
    with open(input_filename) as f:
        for line in f.readlines():
            m = rex_header.match(line)
            if m:
                columns = m.group(1).lower().split()
                break

    # Bad file if you can't find columns
    if columns is None:
        raise RuntimeError('Columns not found')


    # Use memory mapped file to search for data marker and read the dataframe
    with open('./data/LPC_S3-1_2BV.las', 'r+b') as f:
        with mmap.mmap(f.fileno(), 0) as mm:
            marker_loc = mm.find(b'~A') + 4
            mm.seek(marker_loc)
            df = pd.read_csv(mm, sep=r'\s+', names=columns)
        
file_to_frame('./data/LPC_S3-1_2BV.las')

In [21]:
df.head()

,126.0,1435.7433,0.0000,50.7854,-67.3889,9999999.9999,-1.2890,-0.5360,218.5680,1.0211
0,127.0,1437.5267,0.0,50.8611,-62.4259,1.4146,-1.2538,-0.6545,223.1183,1.0226
1,128.0,1434.7266,0.0,50.8611,-67.2222,1.4859,-1.3700,-0.5752,229.2334,1.0327
2,129.0,1429.1158,0.0,50.8611,-67.6485,1.5321,-1.4169,-0.5827,235.3353,1.0220
3,130.0,1431.4969,0.0,50.8611,-64.4588,1.3342,-1.2038,-0.5752,241.4379,1.0226
4,131.0,1425.5180,0.0,50.8611,-56.9494,1.3606,-1.1406,-0.7413,247.5398,1.0226